/*coolie 1423556499376*/
body{background:url(../img/100x100.png?v=00d36d0d4a62c9ab) #f5f5f5}.body{background:url(../img/100x100.png?v=00d36d0d4a62c9ab) #ccc}.f-loading{background:url(../img/100x100.png?v=00d36d0d4a62c9ab) 0/16px no-repeat;display:inline-block;padding-left:20px;color:#888}
body{color:#000;background-image:url(http://dummyimage.com/600x400)}